.banner, .commercial, .dream, .about, .service, .recommend{
    position: relative;
    padding: 80px 0;
    width: 100%;
    height: 50vh;
    background: #f2f6f7;
    z-index: 0px;
}
.content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.left{
    width: 30%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.left h1{
    font-size: 30px;
    font-weight: 600;
}
.left p{
    display: -webkit-box;
    width: 56%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 10px;
    color: rgba(0,0,0,0.4);
}
.left button {
    width: 60%;
    padding: 15px 20px;
    background: tomato;
    color: #fff;
    border: none;
    border-radius: 6px;
}
.right{
    position: relative;
    width: 60%;
    height: 100%;
    background: #c4c4c4;
}
.cost{
    position: absolute;
    left: -15px;
    bottom: -15px;
    width: 200px;
    height: 150px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 3px 3px 2px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    gap: 15px;
}
.cost i{
    font-size: 35px;
    color: tomato;
    font-weight: 600;
}
.cost h4{
    font-size: 25px;
    font-weight: 600;
}
.cost p{
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}
.pause{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px 25px;
    background: tomato;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-top-left-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

/*commercial css*/
.commercial, .commercial_top{
    background: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.commercial_top{
    width: 40%;
}
.commercial_top h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.commercial_top p{
    display: -webkit-box;
    width: 80%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}
.commercial_bottom{
    width: 90%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.card{
    width: 20%;
    height: 25vh;
    padding: 10px 15px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.card:hover{
    cursor: pointer;
    background: #ff5a3c;
}
.card div{
    background: rgb(245, 223, 220, 0.9);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card div i{
    font-size: 16px;
    font-weight: 600;
    color: tomato;
}
.card div i:hover{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.card p{
    text-align: center;
}
/*dream life css*/
.dream {
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.dream .left{
    position: relative;
    width: 30%;
    height: 100%;
}
.dream .left::before{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 60%;
    height: 70%;
    background: #c4c4c4;
}
.dream .left::after{
    position: absolute;
    right: 40px;
    top: 40px;
    content: '';
    width: 60%;
    height: 80%;
    background: #c4c4c4;
}
.dream .left .rating{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: #071c1f;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dream .left .rating i{
    font-size: 20px;
    color: tomato;
}
.dream .left .rating p{
    font-size: 10px;
    color: rgba(255,255,255,0.4);
}
.dream .right{
    position: relative;
    width: 35%;
    height: 100%;
    background: #fff;
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}
.dream .right h1{
    font-size: 40px;
    font-weight: 600;
}
.dream .right p{
    display: -webkit-box;
    width: 80%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: start;
    font-size: 10px;
    color: rgba(0,0,0,0.6);
}
.dream .right .list_group{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 5px;
}
.dream .right .list_group .group{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 20px;
}
.dream .right .list_group .group:hover{
    box-sizing: border-box;
    box-shadow: 2px 3px rgba(0,0,0,0.08);
}
.dream .right .list_group .group i{
    font-size: 30px;
    color: tomato;
    font-weight: 600;
}
.dream .right .list_group .group .text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
}
.dream .right .list_group .group .text h3{
    font-size: 20px;
    font-weight: 700;
}
/*about section css*/
.about{
    background: #fff;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.about .left{
    position: relative;
    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}
.about .left h4{
    font-size: 16px;
    font-weight: 700;
}
.about .left h4 i{
    color: tomato;
}
.about .left h1{
    font-size: 40px;
    font-weight: 700;
}
.about .left p{
    display: -webkit-box;
    width: 80%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    font-weight: 700;
}
.about .left ul {
    padding: 10px 20px;
    list-style: square;
    color: tomato;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
}
.about .left ul li p{
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0,0,0,0.6);
}
.about .right{
    position: relative;
    width: 40%;
    height: 50vh;
    background: #fff;

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.about .right > div {
    background-color: #c4c4c4;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
.about .right .item1{
    grid-column-start: 3;
    grid-column-end: 1;
}
/*css for service section*/
.service{
    background: #fff;
    width: 100%;
    height: 100%;
    background: #f2f6f7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.service .card_group{
    width: 80%;
    padding: 15px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.service .card_group .card{
    width: 30%;
    height: 30vh;
    padding: 10px 15px;
    border-radius: 8px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.service .card_group .card p{
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0,0,0,0.6);
}
/*css for recommend*/
.recommend{
    height: auto;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recommend .card_group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recommend .card_group .recommend_card {
    width: 30%;
    height: 100%;
    background: #fff;
    padding: 0 10px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.recommend .card_group .recommend_card .image{
    position: relative;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recommend .card_group .recommend_card .image img{
    width: 70px;
    height: 70px;
    border-radius: 8px;

}
.recommend .card_group .recommend_card .image .icon{
    position: absolute;
    text-align: center;
    width: 10px;
    height: 10px;
    left: 10px;
    bottom: 5px;
    border-radius: 50%;
    padding: 10px;
    background: tomato;

    display: flex;
    align-items: center;
    justify-content: center;
}
.recommend .card_group .recommend_card .image .icon i{
    color: #fff;
}
.recommend .card_group .recommend_card .r_right{
    width: 80%;
    height: 100%;
    padding: 15px 0;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
}
.recommend .card_group .recommend_card .r_right .price{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 10px;
}
.recommend .card_group .recommend_card .r_right .price h3{
    font-size: 20px;
    font-weight: 600;
}
.recommend .card_group .recommend_card .r_right .price p{
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0,0,0,0.6);
}
.recommend .card_group .recommend_card .r_right .infor{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 15px;
}
.recommend .card_group .recommend_card .r_right .infor div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.recommend .card_group .recommend_card .r_right .infor  p{
    text-align: center;
    border-radius: 50%;
    background: rgba(0,0,0,0.08);
    padding: 10px;
    color: tomato;
}
/*responsive for header*/
@media (max-width:768px) {
    .banner{
        position: relative;
        padding: 80px 0;
        width: 100%;
        height: auto;
        background: #f2f6f7;
    }
    .content{
        width: 100%;
        height: 50vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 5px;
    }
    .left{
        width: 100%;
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }
    .right{
        position: relative;
        width: 100%;
        height: 100%;
        background: #c4c4c4;
    }
    .cost{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 200px;
        height: 150px;
        padding: 15px;
        background: #fff;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 2px 3px 3px 2px rgba(0,0,0,0.08);
    
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        gap: 15px;
    }

    /*commercial section*/
    .commercial{
        position: relative;
        padding: 80px 0;
        width: 100%;
        height: auto;
        z-index: 0px;
    }
    .commercial_top{
        width: 100%;
    }
    .commercial_bottom{
        width: 100%;
        height: auto;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .card{
        width: 80%;
        height: 25vh;
        padding: 10px 15px;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.08);
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    /*dream section css*/
    .dream {
        background: #fff;
        width: 100%;
        height: 100vh;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .dream .left{
        position: relative;
        width: 80%;
        height: 100%;
    }
    .dream .left::before{
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 60%;
        height: 70%;
        background: #c4c4c4;
    }
    .dream .left::after{
        position: absolute;
        right: 40px;
        top: 40px;
        content: '';
        width: 60%;
        height: 80%;
        background: #c4c4c4;
    }
    .dream .right{
        position: relative;
        width: 90%;
        height: 100%;
        background: #fff;
        padding: 10px 0;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .about{
        background: #fff;
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .about .left{
        position: relative;
        width: 80%;
    
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 20px;
    }
    .about .right{
        position: relative;
        width: 80%;
        height: 50vh;
        background: #fff;
    
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }
    /*css for service*/
    .service .card_group{
        width: 80%;
        padding: 15px 0;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .service .card_group .card{
        width: 100%;
        height: 30vh;
        padding: 10px 15px;
        border-radius: 8px;
        box-sizing: border-box;
        background: #fff;
        box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.08);
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 15px;
    }
    .service  p{
        display: -webkit-box;
        width: 80%;
        text-align: center;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 16px;
        font-weight: 700;
        color: rgba(0,0,0,0.6);
    }
    /**/
    .recommend .card_group .recommend_card {
        width: 90%;
        height: 100%;
        background: #fff;
        padding: 0 10px;
        border-radius: 10px;
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
    }
}