.contact{
    position: relative;
    padding: 80px 0;
    width: 100%;
    height: 100%;
    background: #f2f6f7;
    z-index: 0px;
}

.contact, .contact_top{
    background: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.contact_top{
    width: 60%;
}
.contact_top h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.contact_top p{
    display: -webkit-box;
    width: 80%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    font-size: 16px;
    color: tomato;
    font-weight: 600;
}
.contact_bottom{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 15px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contact_bottom .left{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}
.contact_bottom .left p{
    display: -webkit-box;
    width: 80%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: start;
    font-size: 16px;
    color: rgba(0,0,0,0.6);
}
.contact_bottom .left ul{
    width: 100%;
    list-style: square;
    padding: 10px 15px;
}
.contact_bottom .left ul li{
    color: tomato;
}
.contact_bottom .left ul li p{
    color: rgba(0,0,0,0.8);
    font-weight: 700;
}
.contact_bottom .left .left_bottom{
    position: relative;
    width: 100%;
    height: 25vh;
    margin: 50px 0 0 0;
}
.contact_bottom .left .left_bottom::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 50%;
    height: 70%;
    background: #c4c4c4;
}
.contact_bottom .left .left_bottom::after{
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    width: 80%;
    height: 70%;
    background: #c4c4c4;
}
.contact_bottom .left .left_bottom .left_bottom_sub{
    position: absolute;
    top: -30px;
    right: 20%;
    width: 80px;
    height: 80px;
    background: tomato;
    border-radius: 8px;
    z-index: 10;
}
.contact_bottom .left .left_bottom .left_bottom_sub::before{
    position: absolute;
    content: '';
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,1);
    border-radius: 8px;
    z-index: 25;
}
.contact_bottom .right{
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_bottom .right .form_contact{
    width: 100%;
    height: 100%;
    padding: 25px 30px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
}
.contact_bottom .right .form_contact h2{
    font-size: 40px;
    color: rgba(0,0,0,0.8);
}

.contact_bottom .right .form_contact form{
    width: 100%;
    height: 100%;
}
.group_control{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: s;
    justify-content: start;
    gap: 10px;
}
.group_control label{
    font-size: 16px;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
}
.group_control input{
    width: 90%;
    height: 50px;
    border: none;
    background: #fff;
    border-radius: 10px;
    padding: 0 15px;
}
.contact_bottom .right .form_contact form button{
    width: 40%;
    height: 50px;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 700;
    background: tomato;
    border-radius: 8px;
    color: #fff;
    border: none;
}

@media (max-width:768px) {
    .contact_bottom{
        position: relative;
        width: 80%;
        height: 100%;
        margin: 15px 0;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .contact_bottom .left{
        width: 80%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 20px;
    }
    .contact_bottom .right{
        width: 80%;
        height: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact_top h1 {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-align: center;
        font-size: 36px;
        font-weight: 600;
    }
    .contact_top p{
        display: -webkit-box;
        width: 80%;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-align: center;
        font-size: 16px;
        color: tomato;
        font-weight: 600;
    }
}